// Colors

$mk_color_appsmenu_text: black;
$mk_color_appbar_text: black;
$mk_color_appbar_active: #15a34a;
$mk_color_appbar_background: white ;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;