// Colors

// Colors
$mk_color_brand: #15a34a;
$mk_color_primary: #15a34a;
$o-navbar-background: white !default;
$o-navbar-entry-color: black !default;
$o-navbar-entry-color-hover: $o-white !default;

// Navbar Styling
.o-navbar {
    border-bottom: 2px solid #007BFF;
}
